<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
</head>
<body>
    <h1>recipe page</h1>
    <h1> recipe name :{{name}}</h1>
    <h2> time :{{time}}</h2>
    <h3> ingredient : {{ingredient}}</h3>
        {% for i in ingredient %}
            <h3>{{i}}</h3>
        {% endfor %}

        <h1>if</h1>
            {% if time <= 2 %}
                <h1>recipe is easy</h1>
                {% else %}
                <h1>Recipe is hard</h1>
            {% endif %}
</body>
</html>